@charset "utf-8";
body{margin:0px;padding:0px; font-family:"微软雅黑","宋体",arial; color:#333; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,label,select,option,textarea,button,p,span{ margin:0;padding:0;}
img{ border:0; vertical-align:top; font-size:0; line-height:0; overflow:hidden;}
ul,li,ol,ul { list-style:none;}


.dis{ display:none} .left{ float:left} .right{ float:right}
.clear{ clear:both;}

.time { clear:both;  margin-left:9% ; width:84%; font-size:30px; color:#aaa; margin-top: 50px;display: flex;align-items: center;}
.time select{ padding:1% 2%; margin:0 0% 0 0 ; font-size:40px;}
.time select:last-child{ margin:0;margin-left: 10px;}
.year {}
.month{}
.day  {}

.title{ font-size:36px; text-align:center; height:100px; padding-top:45px; width:100%; background: url(../images/title.jpg) center 20px no-repeat;color:#fff; text-indent:-10px;}
.num{ float:left; width:9%; text-align:right; padding-top:5px;}
.num li{ height:40px; padding-right:15px}




.logo{ background:#ff0; clear:both;font-size:22px;margin-left:9% ; padding-left:13%; height:100px;}
.logo ul.xiangxi li{ float:left; margin-right:13%; text-align:center; width:17%;height:80px; background:#f00; }
.logo ul.xiangxi li:first-child{}

.table{ float:left; width:84%; height:780px; background:url(../images/bg.jpg); border-left:solid 5px #aaa;border-bottom:solid 5px #aaa; position:relative;}

.table div{ float:left;}
.table div span{ position:absolute; bottom:0; left:30%;}
.yd div,.dd div,.ma div,.zj div{ position:absolute; float:left; width:8%; bottom:0; font-size:24px;}
.yd_1,.dd_1,.ma_1,.zj_1{ background:#0091cf; z-index:1; height:300px;}
.yd_2,.dd_2,.ma_2,.zj_2{ background:#29b2ee; margin-left:8%; height:200px;}
.yd_3,.dd_3,.ma_3,.zj_3{ background:rgba(0,0,0,0.20); height:600px;z-index:2;}
.table div .yd_3 span,.table div .dd_3 span,.table div .ma_3 span,.table div .zj_3 span{ margin-top:-80px; margin-bottom:0;display:block; position: relative;  z-index:3}

.zj_3{ height:200px; }
.zj_1{ height:500px;}

span{ width:120px; margin-left:-47px; margin-bottom:50px;
-webkit-transform:rotate(270deg);
-moz-transform:rotate(270deg);
-o-transform:rotate(270deg);
}

.table div{ float:left;}
.table div span{ position:absolute; bottom:0; left:30%;}
.bb div,.wb div,.dy div{ position:absolute; float:left; width:8%; bottom:0; font-size:24px;}
.bb_1,.wb_1,.dy_1{ background:#0091cf; z-index:1; height:200px;}
.bb_2,.wb_2,.dy_2{ background:#29b2ee; margin-left:8%; height:200px;}

.bb{ margin-left:15%;}
.wb{ margin-left:43%;}
.dy{ margin-left:71%;}


.yd{ margin-left:8%;}
.dd{ margin-left:32%;}
.ma{ margin-left:55%;}
.zj{ margin-left:78%;}




table{ background:#aaa; text-align:center; float:left; font-size:30px;  margin:0 0 0 9%;margin-bottom: 40px;}
table td{ background:#fff; height:80px; vertical-align:central;}
.div2 .time{ margin:0 0 0 73px; height:100px;}



/*.nav{width:720px; height:100px; padding:10px 0 0 40px; z-index:10; margin-top:40px}
.nav li{ float:left; background:#239ccf; width:149px; text-align:center; height:70px; line-height:70px; margin:0 5px; color:#fff; font-size:28px;}
.nav li.current{ background:#15759e}
*/